.postsContainer {
  padding-left: 20%;
}

.post {
  margin-bottom: 3rem;
}

.postTitle {
  margin-bottom: 0.8rem;
}

.subtitle {
  margin-bottom: 2rem;
}

.publicationDate {
  margin-right: 2rem;
}

.info {
  align-items: center;
  display: inline-flex;
}

.icon {
  margin-right: 0.5rem;
}
